body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(54,8,8,1) 100%);
    scrollbar-gutter: stable;
    overflow: auto;
}
.body::-webkit-scrollbar{
  display: none;
}
.body.body-show::-webkit-scrollbar {
  display: block;
}
*::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    
    background: rgba(36, 35, 35, 0.603);
    display: none;
  }


 *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 11px;
  }
  *::-webkit-scrollbar-track-piece {
    background: rgba(36, 35, 35, 0.11);
  }