body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(54,8,8,1) 100%);
    scrollbar-gutter: stable;
    overflow: overlay;
}
*::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #242323c9;
    display: none;
  }

 *::-webkit-scrollbar-thumb {
    background-color: #00000073;
    border-radius: 10px;
  }
  *::-webkit-scrollbar-track-piece {
    background: #2423231c;
  }