.title_alt_color {
    color: var(--color-primary);
    animation:  1s ease-out 0s 1 slidedown;
    
}
@keyframes slidedown {
    0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0);
      }
    
}
@keyframes slideright {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideright_out {
    100% {
        transform: translateX(0);
    }
    0% {
        transform: translateX(100%);
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
.title {
    animation:  1s ease-out 0s 1 slidedown;
}

.subtitle_container {
    background-color: var(--color-dark-grey);
    border-radius: 10px;
    padding: 30px;
    margin: 7vh 20vh;
}
.about_us{
    background-color: var(--color-dark-grey);
    border-radius: 10px;
    padding: 16px;
    margin-top: 4rem;
    margin-left: 2rem;
    width: 50%;
    animation: 1s ease-out 0s 1 slidedown;
}
.social_media {
    background-color: var(--color-black);
    border-radius: 10px;
    padding: 16px;
    margin-top: 4rem;
    margin-left: 2rem;
    width: 20%;
    animation: 1s ease-out 0s 1 slidedown;
}
.social_links {
    font-size: 2rem;
}
.code-presentation {
    background-color: var(--color-dark-grey);
    width: 80%;
    border-radius: 10px;
}
#ola {
    width: fit-content;
    margin: 3% 0;
}
.footage_img {
    background-image: url(../assets/Images/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 50vh;
    align-self: center;
    border-radius: 10px;
}
.darker {
    display: none;
}
#right_n {
    display: none;
}
.ri-arrow-right-s-line {
    display: none;
}
.memberships_container {
    display: inline-flex;
    background-color: var(--color-dark-grey);
    width: 70%;
    height: 40vh;
    border-radius: 10px;
    margin-bottom: 10%;
    box-shadow: 0px 10px 20px var(--color-black);
}
.membership_info {
    background-color: var(--color-medium-grey);
    width: 30%;
    height: 90%;
    margin: 2% 2%;
    border-radius: 10px;
    overflow-y: auto;
    overflow: overlay;
}
.free_img {
    background-image: url(../assets/Images/memberships/free.png);

}
.basic_img {
    background-image: url(../assets/Images/memberships/basic.png);
}

.premium_img {
    background-image: url(../assets/Images/memberships/premium.png);
}
.student_img {
    background-image: url(../assets/Images/memberships/student.png);
}
.free_img, .basic_img, .premium_img, .student_img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 20%;
    width: 30%;
}
.memberships_title {
    margin: 5% 0;
}
#basic {
    background-color: var(--color-member-basic);
    
}
#premium {
    background-color: var(--color-member-premium);
}
#student {
    background-color: var(--color-member-student);
}
@media only screen and (max-width: 900px) {
    .memberships_container {
        width: 90%;
    }
}
@media only screen and (max-width: 768px) {
    
    .subtitle_container {
        margin: 7vh 10%
    }
    #right_n {
        display: none;
        position: absolute;
        top: 0;
        left: 30%;
        width: 75%;
        height: 100%;
        background-color: var(--color-secundary-dark-translucident);
        animation:  1s ease-out 0s 1 slideright;
        animation-fill-mode: forwards ;
    }
    .darker {
        display: block;
        background-color: #1d1c1c49;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .ri-arrow-right-s-line{
        display: block;
        color: var(--color-secundary);
    }
    .title_menu {
        width: fit-content;
        margin: 1px;
    }
}