@keyframes slidedown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }

}

@keyframes slideright {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideright_out {
    100% {
        transform: translateX(0);
    }

    0% {
        transform: translateX(100%);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.title {
    font-size: 3rem;
    animation: 1s ease-out 0s 1 slidedown;
    text-shadow: 0px 5px 10px var(--color-black);
    position: absolute;
    top: 30%;
    right: 5%;
}
hr {
    border: 1px solid var(--color-secondary);
    box-shadow: 0px 10px 20px var(--color-black);
}
.presentation_container {
    position: relative;
    width: 100;
    height: fit-content;
    background-color: var(--color-black)    ;
    padding: 2% 0;
}
.presentation_txt {
    top: 0;
    display: inline-block;
    position: absolute;
    text-align: -webkit-center;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-grey);
    z-index: 1;
    clip-path: polygon(75% 0, 100% 0%, 100% 100%, 88% 100%, 64% 37%);
    animation: 1s ease-out 0s 1 opacity;
    border: solid 3px var(--color-primary);
}
.about_us {
    background-color: var(--color-medium-grey);
    border-radius: 10px;
    padding: 16px;
    margin-top: 4rem;
    margin-left: 2rem;
    width: 50%;
    animation: 1s ease-out 0s 1 slidedown;
}

.social_media {
    background-color: var(--color-black);
    border-radius: 10px;
    padding: 16px;
    margin-top: 4rem;
    margin-left: 2rem;
    width: 20%;
    animation: 1s ease-out 0s 1 slidedown;
}

.social_links {
    font-size: 2rem;
}

.code-presentation {
    background-color: var(--color-dark-grey);
    width: 80%;
    border-radius: 10px;
}
.autotype_container {
    position: absolute;
    height: 10%;
    width: 20%;
    top: 50%;
    right: 2%;
}

#ola {
    width: fit-content;
    margin: 3% 0;
    text-shadow: 0px 5px 10px var(--color-black);
    text-align: right;
}

#gameLoader {
    top: 50%;
    left: 50%;
    display: inline-block;
    background-color: var(--color-secondary);
    border-radius: 10px;
    width: 20%;
    padding: 5px;
    box-shadow: 0px 10px 20px var(--color-black);
    z-index: 1;
}
#gameLoader:hover {
    background-color: var(--color-black);
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    box-shadow: 0px 10px 20px var(--color-secondary);
    transition: all 1s ease-in;
}
.game_info {
    background-color: var(--color-totally-black);
}
.carrusel {
    text-align: center; /* Centramos horizontalmente */
    width: 78%;
    aspect-ratio: 3/2;
    position: relative;
    opacity: 1;
    left: -7%;
}

#carrusel_slider {
    height: 100%;
    width: 86%;
    position: relative;
}

/* Agregamos estilos para el contenedor de la imagen */
.image-container {
    text-align: -webkit-center;
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: opacity 1s ease-in-out;
}

.image-container.active {
    display: block; /* Mostramos solo el contenedor activo (imagen actual) */
}
.image-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: fit-content;
    position: absolute;
    left: 30%;
    animation: opacity 1s ease-in-out; 
}
.ri-arrow-drop-left-line, .ri-arrow-drop-right-line{
    background-color: black;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
}
.ri-arrow-drop-right-line {
    right: 10%;
}
.ri-arrow-drop-left-line {
    left: 10%;
}

.gallery_container {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    box-shadow: 0px 10px 20px var(--color-black);
}

.image_gallery {
    display: flex;
    width: 600;
    height: 400;
}

.image_gallery img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.image_gallery img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.darker {
    display: none;
}

#right_n {
    display: none;
}

.ri-arrow-right-s-line {
    display: none;
}

.memberships_container {
    display: inline-flex;
    background-color: var(--color-dark-grey);
    width: 70%;
    height: 50vh;
    border-radius: 10px;
    margin-bottom: 10%;
    box-shadow: 0px 10px 20px var(--color-black);
    
}

.membership_info {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    text-align: -webkit-center;
    background-color: var(--color-medium-grey);
    width: 30%;
    height: 90%;
    margin: 2% 2%;
    border-radius: 10px;
    overflow-y: auto;
    overflow: overlay;
    overflow-x:hidden;
    position: relative;
    box-shadow: 0px 10px 20px var(--color-black); 
}
.membership_info a {
    position: absolute;
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 1%;
    text-shadow: 0px 5px 10px var(--color-black);
    top: 80%;
    right: 10%;
    left: 10%;
}
.membership_info a:hover {
    color: var(--color-light-grey);
    background-color: var(--color-primary-dark);
}
.free_img {
    background-image: url(../assets/Images/memberships/free.png);

}

.basic_img {
    background-image: url(../assets/Images/memberships/basic.png);
}

.premium_img {
    background-image: url(../assets/Images/memberships/premium.png);
}

.student_img {
    background-image: url(../assets/Images/memberships/student.png);
}

.free_img,
.basic_img,
.premium_img,
.student_img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 20%;
    width: 30%;
}

.memberships_title {
    margin: 5% 0;
    text-shadow: 0px 5px 10px var(--color-black);
}

#basic {
    background-color: var(--color-member-basic);

}

#premium {
    background-color: var(--color-member-premium);
}

.membership_info h4 {
    border-radius: 10px;
    height: 59%;
}

#student {
    background-color: var(--color-member-student);
}

#free h4 {
    background-color: var(--color-light-grey);
}

#basic h4 {
    background-color: var(--color-member-basic-light);
}

#premium h4 {
    background-color: var(--color-member-premium-light);
}

#student h4 {
    background-color: var(--color-member-student-light);
}

main {
    height: 95vh;
}

.about_section {
    display: flex;
    width: 85%;
    height: 80vh;
    margin: 5% 7%;
    font-family: var(--font-primary);
    /* background-color: var(--color-white); */

}

.social_container {
    background-color: var(--color-white);
    width: 20%;
    border-radius: 10px;
    margin: 2.5%;
    box-shadow: 0px 10px 20px var(--color-black);
}

.social_links {
    font-size: 1.5rem;
    margin: 2rem 0;
    
}
#instagram {
    background-clip: text;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
#facebook {
    color: #3b5998;
}
.social_container hr {
    margin: 10% 0;
}

.social_container h4 {
    margin: 10%;
    font-size: 2rem;
}

.about_container {
    background-color: var(--color-dark-grey);
    width: 80%;
    border-radius: 10px;
    margin: 2.5%;
    box-shadow: 0px 10px 20px var(--color-black);
}

.about_container h3 {
    padding: 1% 10%;
    color: var(--color-white);
}

.about_container h2 {
    padding: 10%;
    color: var(--color-secondary);
}

.about_container img {
    width: 40%;
    margin: 0 30%;
}

@media only screen and (max-width: 900px) {
    .memberships_container {
        width: 90;
}
.membership_info {
    height: 100%;
}
.membership_info h4 {
    width: 80%;
}
.title {
    font-size: 1.7rem;
}
#ola {
    font-size: 0.95rem;
}
}
@media only screen and (max-width: 768px) {
    .title {
        font-size: 1rem;
    }
    #ola {
        font-size: 0.5rem;
    }
    #menu_button {
        margin-right: 2%;
        display: block;
    }

    .subtitle_container {
        margin: 7vh 10%
    }

    .gallery_container {
        height: 30vh;
    }

    .image_gallery {
        width: 100%;
        height: 30vh;
    }

    .image_gallery img:hover {
        width: 200px;
    }
    #right_n {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 44%;
        height: 100%;
        background-color: var(--color-secondary-dark-translucident);
        font-family: var(--font-secondary);
        animation: 1s ease-out 0s 1 slideright;
        animation-fill-mode: forwards;
        z-index: 2;
    }

    .darker {
        display: block;
        background-color: #1d1c1c49;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    #right_n a {
        font-size: 3.4vh;
        margin: 20% 0;
        padding: 10%;
    }

    .ri-arrow-right-s-line {
        cursor: pointer;
        display: block;
        color: var(--color-secondary);
    }

    .title_menu {
        width: fit-content;
        margin: 20% 0%;
        color: var(--color-secondary)
    }

    .memberships_container {
        width: 100%;
        flex-direction: column;
        height: fit-content;
        justify-items: center;
        border-radius: 0;
    }

    .membership_info {
        width: 80%;
        margin: 5% 10%;
        padding: 3% 0;
        overflow: visible;
    }
    .membership_info a{
        text-align: -webkit-center;
    }
    .free_img,
    .basic_img,
    .premium_img,
    .student_img {
        height: 12vh;
        width: 12vh;
    }

    .footage_img {
        width: 80%;
    }
}